body{
    width: 700px;
}
.ifsection {
    background-color: black;
    width: 700px;
    height: 510px;
    padding-top: 30px;
    padding-left: 5px;
    padding-bottom: -10px;
}

.ifsection img {
    width: 400px;
    float: left;
}

.ifsection p {
    color: white;
    position: relative;
    top: 155px;
    
}

.loatbox{
    font-family: sans-serif;
    background-color: black;
    color: white;
    float: right;
    padding: 10px;
    margin-left: 150px;
    width: 190px;
    height: 50px;
}

.loatbox img {
    width: 50px;
    float: left;
}

.loatbox p {
    font-size: 45px;
    margin: 1px;
    padding-left: 60px;
}

h1 {
    color: #FF421C;
}

h2{
    margin: 20px;
    margin-left: 150px;
    padding: 15px;
    font-size:  ;
    color: #E0C5AF;
}
hr{
    margin: -29px;
    color: #DED5C5;
    width: 700px;
}

.bodytext {
    width: 350px;
}

.line2 {
    padding-left: 
}