body{
    width: 700px;
}
.ifsection {
    background-color: black;
    width: 720px;
    height: 512px;
    padding-top: 30px;
    padding-left: 5px;
    padding-bottom: -10px;
    margin-left: -10px;
}

.ifsection img {
    width: 400px;
    float: left;
}

.ifsection p {
    color: white;
    position: relative;
    top: 275px;
    right: 120px;
    margin: 5px;
}

.ifsection p:nth-child(3){
  padding-left: 420px;
}


.loatbox{
    font-family: sans-serif;
    background-color: black;
    color: white;
    float: right;
    padding: 10px;
    margin-left: 150px;
    width: 190px;
    height: 50px;
}

.loatbox img {
    width: 50px;
    float: left;
}

.loatbox p {
    font-size: 45px;
    margin: 1px;
    padding-left: 60px;
}

h1 {
    color: #FF421C;
}

h2{
    margin: 5px;
    margin-left: 90px;
    margin-top: 20px;
    padding: 10px;
    font-size: 25px;
    color: #E0C5AF;
}

h4{
    margin-bottom: -10px;
}

hr{
    margin: -29px;
    color: #DED5C5;
    width: 650px;
    padding-left: 30px;
}

.bodytext {
    width: 350px;
}

.bodytext ul {
    margin-left: -17px;
}

.line2 {
    padding-left: 
}

.body {
    margin: 10px;
}